# Enable Rewrite
RewriteEngine            On

# If we're visiting any alias, redirect to srcf instead
RewriteCond %{HTTP_HOST}    !^cuams\.soc\.srcf\.net [NC]
RewriteCond %{HTTP_HOST}    !^$
# Forcibly redirect http to https
RewriteCond %{REQUEST_SCHEME} http [NC]
RewriteRule ^(.*)        https://cuams.soc.srcf.net/$1 [L,R=permanent]
