<figure>
    <figcaption>{{ include.title }}</figcaption>
    <div class="news-content">
        <img src="{{ include.image }}" alt="" height="200" width="150">
        <dl>
            <dt>Episodes:</dt><dd>{{ include.episodes }}</dd>
            <dt>Published:</dt><dd>{{ include.year }}</dd>
            <dt>Studio:</dt><dd>{{ include.studio }}</dd>
            <dt>Showing:</dt><dd>{{ include.schedule }}</dd>
            <dt>More Info:</dt><dd>{{ include.info }}</dd>
        </dl>
    </div>
</figure>