<div class="cuams-banner">
    <div class="cuams-name">
        <div class="cuams-name-text">
            Cambridge University Anime and Manga Society
        </div>
    </div>
    <div class="banner-mascot-container">
        <img class="banner-mascot" src="/assets/images/mascot/full-74w.png"
             srcset="/assets/images/mascot/full-147w.png 427w,/assets/images/mascot/full-295w.png 1280w,
             /assets/images/mascot/full-442w.png 1920w, /assets/images/mascot/full-664w.png 3840w"
             alt="CUAMS Mascot"/>
    </div>
</div>