<ul class="social-media-list">
    {% if site.discord_link %}
    <li>
        <a href="{{ site.discord_link }}">
            <div class="social-container">
                <div class="icon"><i class="fab fa-discord"></i></div>Discord
            </div>
        </a>
    </li>
    {% endif %}
    {% if site.facebook_username %}
    <li>
        <a href="https://www.facebook.com/groups/{{ site.facebook_username }}">
            <div class="social-container">
                <div class="icon"><i class="fab fa-facebook-f"></i></div>Facebook
            </div>
        </a>
    </li>
    {% endif %}
    {% if site.mal_id %}
    <li>
        <a href="https://myanimelist.net/clubs.php?cid={{ site.mal_id }}">
            <div class="social-container">
                <div class="icon"><i class="fas fa-link"></i></div>MAL
            </div>
        </a>
    </li>
    {% endif %}
    {% if site.anilist_username %}
    <li>
        <a href="https://anilist.co/user/{{ site.anilist_username }}">
            <div class="social-container">
                <div class="icon"><i class="fas fa-link"></i></div>AniList
            </div>
        </a>
    </li>
    {% endif %}
</ul>
