---
---

@import "minima";

/* --------------------------------------------------
    GLOBAL
 -------------------------------------------------- */

.wrapper {
    max-width: 800px;
}

dl {
    margin: 0;
}

dt {
    display: inline;
    font-weight: bold;
}

dd {
    display: inline;
    margin: 0;
}

dd:before {
    content: " ";
    white-space: pre;
}

dd:after {
    content: "\A";
    white-space: pre;
}

/* --------------------------------------------------
    NAVIGATION BAR
 -------------------------------------------------- */

#navbar {
    background-color: transparent;
    padding: 0.5rem 0;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

#sublink {
    color: rgba(0, 0, 0, 0.9);
}

#sublink-menu {
    top: 80%;
}

@media (max-width: 768px) {
    #sublink-menu {
        border: none;
        margin: 0;
    }
}

#site-title {
    font-size: 26px;
}

.dropdown-toggle {
    cursor: pointer;
}

/* --------------------------------------------------
    SUMMARIES
 -------------------------------------------------- */

.summary-container {
    padding: 8px 0;
}

figure {
    margin-bottom: 1em;
    padding: 1px;
    position: relative;
}

figcaption {
    font-size: 2rem;
}

figcaption:after {
    content: '';
    display: block;
    border: 1px solid #111;
}

.summary-content {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

figure img {
    margin-left: 1.5em;
}

/* --------------------------------------------------
    COMMITTEE
 -------------------------------------------------- */

.committee-container {
    margin-top: 20px;
}

#committee-contents {
    padding: 0;
    margin: 0;
}

.committee-member {
    display: flex;
    padding: 8px 0;
}

.committee-member img {
    display: block;
    height: 100%;
    max-height: 119.2px;
    width: auto;
}

.committee-member-details {
    padding: 8px;
}
