---
---

@import "minima";

.wrapper {
    max-width: 800px;
}

/* --------------------------------------------------
    NAVIGATION BAR
 -------------------------------------------------- */

#navbar {
    background-color: transparent;
    padding: 0.5rem 0;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

#sublink {
    color: rgba(0, 0, 0, 0.9);
}

#sublink-menu {
    top: 80%;
}

@media (max-width: 768px) {
    #sublink-menu {
        border: none;
        margin: 0;
    }
}

#site-title {
    font-size: 26px;
}

.dropdown-toggle {
    cursor: pointer;
}