---
---

@import "minima";

$base-font-family: "Open Sans", Arial, sans-serif;
$spacing-unit: 8px;

/* --------------------------------------------------
    GLOBAL
 -------------------------------------------------- */

dl {
    margin: 0;
}

dt {
    display: inline;
    font-weight: bold;
}

dd {
    display: inline;
    margin: 0;
}

dd:before {
    content: " ";
    white-space: pre;
}

dd:after {
    content: "\A";
    white-space: pre;
}

.root {
    font-family: $base-font-family
}

.site-header {
    border: none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.16);
}

.wrapper {
    max-width: 1200px;
}

/* --------------------------------------------------
    NAVIGATION BAR
 -------------------------------------------------- */

#navbar {
    background-color: transparent;
    padding: 0.5rem 0;
}

.navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
}

#sublink {
    color: rgba(0, 0, 0, 0.9);
}

#sublink-menu {
    top: 80%;
}

@media (max-width: 768px) {
    #sublink-menu {
        border: none;
        margin: 0;
    }
}

#site-title {
    font-size: 26px;
}

.dropdown-toggle {
    cursor: pointer;
}

/* --------------------------------------------------
    FOOTER
 -------------------------------------------------- */

.social-container {
    display: flex;
}

.icon {
    width: 15px;
    margin-right: $spacing-unit;
    text-align:center;
}

/* --------------------------------------------------
    HOME
 -------------------------------------------------- */

.more-link {
    font-size: 1.5rem;
}

/* --------------------------------------------------
    BANNER
 -------------------------------------------------- */

.cuams-banner {
    background-color: #A3C1AD;
    height: 50vh;
    display: flex;
    width: 100%;
}

.cuams-name {
    flex-grow: 3;
    flex-shrink: 1;
    font-size: 3rem;
    font-family: "Ubuntu", $base-font-family;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

.cuams-name-text {
    max-width: 680px;
}

.banner-mascot-container {
    flex-grow: 1;
    flex-shrink: 0;
    height: 100%;
    padding: 20px;
}

.banner-mascot {
    display: block;
    height: 100%;
    width: auto;
}

@media (max-width: 768px) {
    .banner-mascot-container {
        display: none;
    }

    .cuams-name {
        font-size: 2rem;
    }
}

/* --------------------------------------------------
    SUMMARIES
 -------------------------------------------------- */

.summary-container {
    padding: $spacing-unit 0;
}

figure {
    margin-bottom: 1em;
    padding: 1px;
    position: relative;
}

figcaption {
    font-size: 2rem;
}

figcaption:after {
    content: '';
    display: block;
    border: 1px solid #111;
}

.summary-content {
    display: flex;
    justify-content: space-between;
    padding: $spacing-unit;
}

figure img {
    margin-left: 1.5em;
}

/* --------------------------------------------------
    SCHEDULE
 -------------------------------------------------- */

.schedule-container {
   padding-top: $spacing-unit;
}

.term-container:not(:first-child) {
    padding-top: 2rem;
}

.term-information {
    margin-top: 1rem;
}

.show-container {
    display: flex;
    flex-wrap: wrap;
}

/* --------------------------------------------------
    COMMITTEE
 -------------------------------------------------- */

.committee-container {
    margin-top: 20px;
}

#committee-contents {
    padding: 0;
    margin: 0;
}

.committee-member {
    display: flex;
    padding: $spacing-unit 0;
}

.committee-member img {
    display: block;
    height: 100%;
    max-height: 119.2px;
    width: auto;
}

.committee-member-details {
    padding: $spacing-unit;
}
