---
layout: page
---
{{ content }}
{% for committee in site.data.committee %}
    <div class="committee-container">
        <h2>{{ committee.title }}</h2>
        <div id="committee-contents" class="container">
            <div class="row">
            {% for member in committee.positions %}
                <div class="committee-member col-12 col-md-6">
                    <img src="/assets/images/committee/{{ member.image | default: 'default.jpg' }}" alt="{{ member.holder }}"/>
                    <div class="committee-member-details">
                        <h3>{{ member.role }}</h3>
                        <div>
                            <div><span class="label">Current Holder:</span> {{ member.holder }}</div>
                            <div><span class="label">Email:</span> {{ member.email }}</div>
							{% if committee.title == "Current Committee" and member.discord %}
								<div><span class="label">Discord:</span> {{ member.discord }}</div>
							{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
