---
layout: page
---
{{ content }}
<div class="summary-container">
    {% for meeting in site.data.meetings %}
        {% if meeting.type == page.meetingtype %}
                {% if meeting.shows.size > 0 %}
                    <p>This year we will be watching:</p>
                    {% for show in meeting.shows %}
                        <figure>
                            <figcaption>{{ show.title }}</figcaption>
                            <div class="summary-content">
                                <dl>
                                    <dt>Episodes:</dt><dd>{{ show.episodes }}</dd>
                                    <dt>Published:</dt><dd>{{ show.year }}</dd>
                                    <dt>Studio:</dt><dd>{{ show.studio }}</dd>
                                    <dt>Showing:</dt><dd>{{ show.schedule }}</dd>
                                    {% if show.info %}
                                        <dt>More Info:</dt>
                                        <dd>
                                            {% for info in show.info %}
                                                <a href="{{ info.link }}">{{ info.title }}</a>
                                                {% unless forloop.last %}
                                                    |
                                                {% endunless %}
                                            {% endfor %}
                                        </dd>
                                    {% endif %}
                                </dl>
                                <img src="{{ show.image }}" alt="" height="200" width="150">
                            </div>
                        </figure>
                    {% endfor %}
                {% else %}
                    <p>The schedule for this year has not yet been finalised; please check back later for updates</p>
                {% endif %}
        {% endif %}
    {% endfor %}
</div>
