---
layout: page
---
{{ content }}

<div class="summary-container accordion" id="meeting-container">
    {% for meeting in site.data.meetings %}
            <div class="card" id="meeting-information">
                <div class="card-header meeting-header" id="heading-{{ meeting.type }}" data-toggle="collapse"
                     data-target="#collapse-{{ meeting.type }}" aria-expanded="false"
                     aria-controls="collapse-{{ meeting.type }}"
                >
                    <h3 class="mb-0 meeting-label">
                        {{ meeting.type }} Meetings<i class="fa fa-angle-down rotate-icon"></i>
                    </h3>
                </div>

                <div id="collapse-{{ meeting.type }}" class="collapse"
                     aria-labelledby="heading-{{ meeting.type }}" data-parent="#meeting-container">
                    <div class="card-body">
                        {% if meeting.shows.size > 0 %}
                            {% for show in meeting.shows %}
                                <div class="anime-container">
                                    <div class="show-title">{{ show.title }}</div>
                                    <div class="summary-content">
                                        <div>
                                            <div><span class="label">Episodes:</span> {{ show.episodes }}</div>
                                            <div><span class="label">Published:</span> {{ show.year }}</div>
                                            <div><span class="label">Studio:</span> {{ show.studio }}</div>
                                            <div><span class="label">Showing:</span> {{ show.schedule }}</div>
                                            {% if show.info %}
                                            <div>
                                                <span class="label">More Info:</span>
                                                {% for info in show.info %}
                                                <a href="{{ info.link }}">{{ info.title }}</a>
                                                {% unless forloop.last %}
                                                |
                                                {% endunless %}
                                                {% endfor %}
                                            </div>
                                            {% endif %}
                                        </div>
                                        <img src="{{ show.image }}" alt="" height="200" width="150">
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>
                                The schedule for this year has not yet been finalised; please check back later for
                                updates
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
    {% endfor %}
</div>
