---
layout: page
---
{{ content }}
{%- assign date_format = site.minima.date_format | default: "%a, %-d %b %Y" -%}
<div class="schedule-container">
    {% if site.data.schedule.size > 0 %}
        <div class="accordion" id="term-container">
            {% for term in site.data.schedule %}
                {% assign term-name = term.term | replace: " ", "-" %}
                <div class="card" id="term-information">
                    <div class="card-header schedule-header" id="heading-{{ term-name }}" data-toggle="collapse"
                         data-target="#collapse-{{ term-name }}" aria-expanded="false"
                         aria-controls="collapse-{{ term-name }}"
                    >
                        <h3 class="mb-0 meeting-label">
                            {{ term.term }}<i class="fa fa-angle-down rotate-icon"></i>
                        </h3>
                    </div>

                    <div id="collapse-{{ term-name }}" class="collapse"
                         aria-labelledby="heading-{{ term-name }}" data-parent="#term-container">
                        <div class="card-body">
                            <table class="table table-sm table-responsive-sm term-information">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Venue</th>
                                        <th scope="col">Event</th>
                                        <th scope="col">Shows/Manga</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for meeting in term.meetings %}
                                        {% comment %}
                                            Attempt to fetch the event object corresponding to this meeting series.
                                            
                                            If one exists, check whether the time/venue for this meeting is the same.
                                            If they differ, bold it.
                                            Otherwise, just print the details for this meeting.
                                        {% endcomment %}
                                        {% assign event = term.events | where: "name",meeting.event | first %}
                                        <tr>
                                            <td>{{ meeting.date | date: date_format }}</td>
                                            {% if event %}
                                                {% if meeting.time and event.time != meeting.time %}
                                                <td><b>{{ meeting.time }}</b></td>
                                                {% else %}
                                                <td>{{ event.time }}</td>
                                                {% endif %}
                                                
                                                {% if meeting.venue and event.venue != meeting.venue %}
                                                <td><b>{{ meeting.venue }}</b></td>
                                                {% else %}
                                                <td>{{ event.venue }}</td>
                                                {% endif %}
                                            {% else %}
                                                <td>{{ meeting.time }}</td>
                                                <td>{{ meeting.venue }}</td>
                                            {% endif %}
                                            
                                            <td>{{ meeting.event }}</td>
                                            <td>
                                                <div class="show-container">
                                                    {% for show in meeting.shows %}
                                                        <div class="schedule-show">
                                                            {{ show }}{% unless forloop.last %},&nbsp;{% endunless %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>The schedule for this year has not yet been finalised; please check back later for updates</p>
    {% endif %}
</div>